.side-user-img {
    align-items: center;
    padding: 10px 20px 5px 20px;
    display: flex;
    flex-direction: column;
}

.two {
    position: absolute;
    margin-top: 0px;
    margin-left: 50px;
    // align-self: flex-end;
    width: 20px;
    height: 20px;
}
  
.user-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.bi-bi-three-dots {
    height: 20px;
    width: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}