<div class="percentage-block">
    <div class="search-projectname">
      <span>Search a Project with Name, Task, User...</span>
      <div class="new-project-main">
        <div class="new-projects-plus">
          <strong>New Projects</strong>(descending)
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4b4b4b"
            class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
        <button class="new-button" (click)="changeButtonColor($event)">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
            fill="white" class="bi bi-plus" viewBox="0 0 16 16">
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
        </button>
      </div>
    </div>

  </div>
  